<div class="container">
    <form [formGroup]="form" (ngSubmit)="edit ? editEmployee() : addEmployee()">
        <div class="header">
            <div class="header-left">
                <button type="button" mat-icon-button class="btn_exit" (click)="exit()">
                    <mat-icon>clear</mat-icon>
                </button>
                <p class="subtitle">{{edit ? "Editar " : "Agregar "}} Personal</p>
            </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" tabindex="6">Guardar</button>
        </div>
        <mat-divider></mat-divider>
        <div class="inputs">
            <div class="input-form" (mouseenter)="buttonClear.name = true" (mouseleave)="buttonClear.name = false">
                <mat-icon mat-list-icon class="input-icon">persone</mat-icon>
                <mat-form-field class="input-field">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="name" tabindex="1">
                    <mat-error *ngIf="form.controls['name'].hasError('required')">Nombre es <strong>obligatorio</strong></mat-error>
                </mat-form-field>
                <div style="width: 40px;" *ngIf="!buttonClear.name"></div>
                <button type="button" mat-icon-button *ngIf="buttonClear.name" (click)="clearField('name')" class="btn_clear">
                    <mat-icon mat-list-icon>clear</mat-icon>
                </button>
            </div>
            <div class="input-form" (mouseenter)="buttonClear.surname = true" (mouseleave)="buttonClear.surname = false">
                <div style="width: 45px;"></div>
                <mat-form-field class="input-field">
                    <mat-label>Apellido</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="surname" tabindex="2">
                </mat-form-field>
                <div style="width: 40px;" *ngIf="!buttonClear.surname"></div>
                <button type="button" mat-icon-button *ngIf="buttonClear.surname" (click)="clearField('surname')" class="btn_clear">
                    <mat-icon mat-list-icon>clear</mat-icon>
                </button>
            </div>
            <div class="input-form" (mouseenter)="buttonClear.email = true" (mouseleave)="buttonClear.email = false">
                <mat-icon mat-list-icon class="input-icon">mail</mat-icon>
                <mat-form-field class="input-field">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="email" tabindex="3">
                    <mat-error *ngIf="form.controls['email'].hasError('required')">Email es <strong>obligatorio</strong></mat-error>
                    <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">Por favor, introduce un email correcto</mat-error>
                </mat-form-field>
                <div style="width: 40px;" *ngIf="!buttonClear.email"></div>
                <button type="button" mat-icon-button *ngIf="buttonClear.email" (click)="clearField('email')" class="btn_clear">
                    <mat-icon mat-list-icon>clear</mat-icon>
                </button>
            </div>
            <div class="input-form" (mouseenter)="buttonClear.phone = true" (mouseleave)="buttonClear.phone = false">
                <mat-icon mat-list-icon class="input-icon">phone</mat-icon>
                <mat-form-field class="input-field">
                    <mat-label>Teléfono</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="phone" tabindex="4">
                </mat-form-field>
                <div style="width: 40px;" *ngIf="!buttonClear.phone"></div>
                <button type="button" mat-icon-button *ngIf="buttonClear.phone" (click)="clearField('phone')" class="btn_clear">
                    <mat-icon mat-list-icon>clear</mat-icon>
                </button>
            </div>
            <div class="slide">
                <mat-slide-toggle formControlName="admin" color="primary" tabindex="5"><p style="color: #999; margin-top: 12px; margin-left: 10px;">Administrador</p></mat-slide-toggle>
            </div>
        </div>
    </form>
</div>