<div class="info__dialog">
    <div class="info__profile-image">
        <app-profile-picture size="150px" [url]="(employee.profile_image | photo)"></app-profile-picture>
    </div>
    <h1 class="info__title">{{employee.name + ' ' + employee.surname}}</h1>
    <mat-divider></mat-divider>
    <div class="margin_bottom_20"></div>
    <div class="info__field">
        <mat-icon class="field__icon">email</mat-icon>
        <p class="field__text">{{employee.email}}</p>
    </div>
    <div class="info__field" *ngIf="employee.phone">
        <mat-icon class="field__icon">phone</mat-icon>
        <p class="field__text">{{employee.phone}}</p>
    </div>
    <div class="info__field" *ngIf="employee.admin">
        <mat-icon class="field__icon">assignment_ind</mat-icon>
        <p class="field__text">Administrador</p>
    </div>
</div>