<div class="info__dialog">
    <h1>{{employee.name + ' ' + employee.surname}}</h1>
    <div class="info__field">
        <mat-icon class="field__icon">email</mat-icon>
        <p class="field__text">{{employee.email}}</p>
    </div>
    <div class="info__field" *ngIf="employee.phone">
        <mat-icon class="field__icon">phone</mat-icon>
        <p class="field__text">{{employee.phone}}</p>
    </div>
    <div class="info__field" *ngIf="employee.admin">
        <mat-icon class="field__icon">assignment_ind</mat-icon>
        <p class="field__text">Administrador</p>
    </div>
</div>