<div class="info__dialog">
    <h1>{{patient.name + ' ' + patient.surname}}</h1>
    <div class="info__field">
        <mat-icon class="field__icon">email</mat-icon>
        <p class="field__text">{{patient.email}}</p>
    </div>
    <div class="info__field" *ngIf="patient.phone">
        <mat-icon class="field__icon">phone</mat-icon>
        <p class="field__text">{{patient.phone}}</p>
    </div>
    <div class="info__field" *ngIf="patient.birth">
        <mat-icon class="field__icon">cake</mat-icon>
        <p class="field__text">{{(patient.birth | date: 'dd/MM/YYYY')}}</p>
    </div>
</div>