.panel {
    display: flex;
    flex-direction: column;
}

.field_panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.icon_field {
    opacity: 0.5;
    margin-right: 10px;
}

.item_link:hover {
    background-color: #EEE;
}

.link_item_link {
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #666;
}

.item_ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}