<div class="container">
    <div class="header">
        <p class="title">Importar Receta</p>
        <button mat-icon-button matTooltip="Salir" (click)="exit()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="main">
        <div class="filter">
            <mat-form-field class="input">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Macarrones" #input>
            </mat-form-field>
        </div>
        <div class="list__box">
            <div class="list">
                <a class="item" *ngFor="let recipe of dataSource" (click)="selectRecipe(recipe)" [style.background]="recipe._id == selected?._id ? 'rgba(0,0,0,0.1)' : 'rgba(0,0,0,0)'">
                    <div class="item__main">
                        <mat-icon class="item__icon">{{foodToolService.getIcon(recipe.mean)}}</mat-icon>
                        <div class="item__title">{{recipe.title}}</div>
                    </div>
                    <p class="item__type">{{recipe.dish}}</p>
                </a>
            </div>
        </div>
        <div class="bottom">
            <p class="selected"><span style="font-weight: bold;">Receta:</span> {{selected?.title}}</p>
            <div class="buttons">
                <button mat-button (click)="exit()">Cancelar</button>
                <button mat-button color="primary" [mat-dialog-close]="selected">Importar</button>
            </div>
        </div>
    </div>
</div>