.form__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: 10px;
    flex: wrap;
}

.btn__exit {
    margin-right: 10px;
}

.header__subtitle {
    font-size: 28px;
    text-align: left;
    margin: 0;
}

.form__main {
    display: flex;
    flex-direction: row;
}

.main__primary {
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
}

.form__input {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}

.input__icon {
    float: left;
    opacity: 0.5;
    margin-top: 14px;
    margin-right: 20px;
}

.fake__icon {
    width: 45px;
}

.fake__clear {
    width: 40px;
}

.input__field {
    width: 85%;
}

.btn__clear {
    opacity: 0.5;
}

.main__secondary {
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;
    text-align: center;
}

.header_panel_description {
    justify-content: space-between;
    align-items: center;
}

.add_panel button {
    opacity: 0.5;
}

.input_panel {
    margin-right: 10px;
}

.item_panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item_panel:hover {
    background-color: #EEE;
}

.item_panel * {
    text-decoration: none;
    color: #555;
    margin-bottom: 0;
    overflow: auto;
}

.form__calendar {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar {
    width: 100%;
    max-width: 300px;
}

@media(max-width: 959px) {
    .header__subtitle {
        font-size: 20px;
    }

    .form__main {
        display: flex;
        flex-direction: column;
    }

    .main__secondary {
        margin-left: 0;
    }
}