<form [formGroup]="form" (ngSubmit)="editProfile()">
    <div class="form__main">
        <div class="form__box box__shadow">
            <div class="form__profile-image">
                <app-input-profile-image
                    [size]="'170px'"
                    [url]="!imageFile ? removeProfileImage ? ('' | photo) : (employee?.profile_image | photo) : imageFile"
                    (onSelect)="onSelectFile($event)"
                    (onRemove)="onRemoveProfileImage()"
                    (onRecover)="onRecoverProfileImage()">
                </app-input-profile-image>
                <p>Foto de Perfil</p>
            </div>
            <div class="main__primary">
                <div class="form__input" (mouseenter)="buttonClear.name = true" (mouseleave)="buttonClear.name = false">
                    <mat-icon mat-list-icon class="input__icon">persone</mat-icon>
                    <mat-form-field class="input__field">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="name" tabindex="1">
                        <mat-error *ngIf="form.controls['name'].hasError('required')">Nombre es <strong>obligatorio</strong></mat-error>
                    </mat-form-field>
                    <div class="fake__clear" *ngIf="!buttonClear.name"></div>
                    <button type="button" mat-icon-button *ngIf="buttonClear.name" (click)="clearField('name')" class="btn__clear">
                        <mat-icon mat-list-icon>clear</mat-icon>
                    </button>
                </div>
                <div class="form__input" (mouseenter)="buttonClear.surname = true" (mouseleave)="buttonClear.surname = false">
                    <div class="fake__icon"></div>
                    <mat-form-field class="input__field">
                        <mat-label>Apellido</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="surname" tabindex="2">
                    </mat-form-field>
                    <div class="fake__clear" *ngIf="!buttonClear.surname"></div>
                    <button type="button" mat-icon-button *ngIf="buttonClear.surname" (click)="clearField('surname')" class="btn__clear">
                        <mat-icon mat-list-icon>clear</mat-icon>
                    </button>
                </div>
                <div class="form__input" (mouseenter)="buttonClear.email = true" (mouseleave)="buttonClear.email = false">
                    <mat-icon mat-list-icon class="input__icon">mail</mat-icon>
                    <mat-form-field class="input__field">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="email" tabindex="3">
                        <mat-error *ngIf="form.controls['email'].hasError('required')">Email es <strong>obligatorio</strong></mat-error>
                        <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">Por favor, introduce un email correcto</mat-error>
                    </mat-form-field>
                    <div class="fake__clear" *ngIf="!buttonClear.email"></div>
                    <button type="button" mat-icon-button *ngIf="buttonClear.email" (click)="clearField('email')" class="btn__clear">
                        <mat-icon mat-list-icon>clear</mat-icon>
                    </button>
                </div>
                <div class="form__input" (mouseenter)="buttonClear.phone = true" (mouseleave)="buttonClear.phone = false">
                    <mat-icon mat-list-icon class="input__icon">phone</mat-icon>
                    <mat-form-field class="input__field">
                        <mat-label>Teléfono</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="phone" tabindex="4">
                    </mat-form-field>
                    <div class="fake__clear" *ngIf="!buttonClear.phone"></div>
                    <button type="button" mat-icon-button *ngIf="buttonClear.phone" (click)="clearField('phone')" class="btn__clear">
                        <mat-icon mat-list-icon>clear</mat-icon>
                    </button>
                </div>
                <div class="buttons">
                    <button mat-raised-button type="button" (click)="resetProfile()">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>