<form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="form__main">
        <div class="form__box box__shadow">
            <div class="main__primary">
                <div class="form__input" (mouseenter)="buttonClear.password = true" (mouseleave)="buttonClear.password = false">
                    <mat-form-field class="input__field">
                        <mat-label>Contraseña actual</mat-label>
                        <input type="password" matInput autocomplete="off" formControlName="password" tabindex="1">
                    </mat-form-field> 
                    <div class="fake__clear" *ngIf="!buttonClear.password"></div>
                    <button type="button" mat-icon-button *ngIf="buttonClear.password" (click)="clearField('password')" class="btn__clear">
                        <mat-icon mat-list-icon>clear</mat-icon>
                    </button>
                </div>
                <div class="form__input" (mouseenter)="buttonClear.newPassword = true" (mouseleave)="buttonClear.newPassword = false">
                    <mat-form-field class="input__field">
                        <mat-label>Nueva contraseña</mat-label>
                        <input type="password" matInput autocomplete="off" formControlName="newPassword" tabindex="2">
                    </mat-form-field>
                    <div class="fake__clear" *ngIf="!buttonClear.newPassword"></div>
                    <button type="button" mat-icon-button *ngIf="buttonClear.newPassword" (click)="clearField('newPassword')" class="btn__clear">
                        <mat-icon mat-list-icon>clear</mat-icon>
                    </button>
                </div>
                <div class="form__input" (mouseenter)="buttonClear.confirmation = true" (mouseleave)="buttonClear.confirmation = false">
                    <mat-form-field class="input__field">
                        <mat-label>Confirmar nueva contraseña</mat-label>
                        <input type="password" matInput autocomplete="off" formControlName="confirmation" tabindex="3">
                    </mat-form-field>
                    <div class="fake__clear" *ngIf="!buttonClear.confirmation"></div>
                    <button type="button" mat-icon-button *ngIf="buttonClear.confirmation" (click)="clearField('confirmation')" class="btn__clear">
                        <mat-icon mat-list-icon>clear</mat-icon>
                    </button>
                </div>
                <div class="buttons">
                    <button mat-raised-button type="button" (click)="reset()">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>