<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>{{food!.title}}</mat-panel-title>
        <mat-panel-description class="header__description">
            {{food!.dish}}
            <div class="header__btns">
                <a class="pointer" style="color: #1F516F" matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </a>
                <a class="pointer" style="color: #E15639" matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="item__main">
        <div class="main__nav">
            <button mat-icon-button (click)="changeSeccion(0)" [ngClass]="{'nav__icon': true, 'actived': seccion == 0}" matTooltip="General">
                <mat-icon>description</mat-icon>
            </button>
            <button mat-icon-button (click)="changeSeccion(1)" [ngClass]="{'nav__icon': true, 'actived': seccion == 1}" matTooltip="Enlaces">
                <mat-icon>links</mat-icon>
            </button>
            <button mat-icon-button (click)="changeSeccion(2)" [ngClass]="{'nav__icon': true, 'actived': seccion == 2}" matTooltip="Ingredientes">
                <mat-icon>assignment</mat-icon>
            </button>
        </div>
        <div class="main__home" *ngIf="seccion == 0">
            <div class="home__item" *ngIf="food!.description">
                <p class="home-item__title">Descripción:</p>
                <p class="home-item__value">{{food!.description}}</p>
            </div>
            <div class="home__item" *ngIf="food!.comments">
                <p class="home-item__title">Comentarios:</p>
                <p class="home-item__value">{{food!.comments}}</p>
            </div>
            <p class="text__info" *ngIf="!food!.description && !food!.comments">No hay se ha encontrado ningún resultado</p>
        </div>
        <div class="main__links" *ngIf="seccion == 1">
            <div class="links__item" *ngFor="let link of food!.links">
                <a [href]="link" class="links-item__url">{{link}}</a>
            </div>
            <p class="text__info" *ngIf="food!.links.length <= 0">No hay ningún enlace</p>
        </div>
        <div class="main__ingredients" *ngIf="seccion == 2">
            <div class="ingredients__item" *ngFor="let ingredient of food!.ingredients">
                <p class="ingredients-item__name">{{ingredient.name}}</p>
                <div class="ingredients-item__info">
                    <p class="ingredients-item__quantity">{{ingredient.quantity}}</p>
                    <p class="ingredients-item__unit">{{ingredient.unit}}</p>
                </div>
            </div>
            <p class="text__info" *ngIf="food!.ingredients.length <= 0">No hay ningún ingrediente</p>
        </div>
    </div>
</mat-expansion-panel>