<div class="container">
    <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
    <mat-card class="card" *ngIf="!loading">
        <form [formGroup]="form" (ngSubmit)="recoverPassword()">
            <h1>Cambiar contraseña</h1>
            <div class="form__input">
                <mat-icon mat-list-icon class="input__icon">lock_outline</mat-icon>
                <mat-form-field class="input__field">
                    <mat-label>Nueva contraseña</mat-label>
                    <input type="password" matInput autocomplete="off" formControlName="password" tabindex="1">
                    <mat-error *ngIf="form.controls['password'].hasError('required')">Contraseña es <strong>obligatoria</strong></mat-error>
                </mat-form-field>
            </div>
            <div class="form__input">
                <mat-icon mat-list-icon class="input__icon">lock_outline</mat-icon>
                <mat-form-field class="input__field">
                    <mat-label>Repite tu nueva contraseña</mat-label>
                    <input type="password" matInput autocomplete="off" formControlName="confirm" tabindex="2">
                    <mat-error *ngIf="form.controls['confirm'].hasError('required')">Contraseña es <strong>obligatoria</strong></mat-error>
                </mat-form-field>
            </div>
            <div class="buttons">
                <button type="submit" mat-raised-button color="primary" tabindex="3" [disabled]="form.invalid || loading">Guardar</button>
                <button type="submit" mat-raised-button color="secondary" tabindex="4" (click)="exit()">Cancelar</button>
            </div>
        </form>
    </mat-card>
</div>