<div class="container">
    <form [formGroup]="form" (ngSubmit)="edit ? editConsult() : addConsult()">
        <div class="header">
            <div class="header-left">
                <button type="button" mat-icon-button class="btn_exit" (click)="exit()">
                    <mat-icon>clear</mat-icon>
                </button>
                <p class="subtitle">{{edit ? "Editar " : "Agregar "}} Consulta</p>
            </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" tabindex="6">Guardar</button>
        </div>
        <mat-divider></mat-divider>
        <div class="inputs">
            <div class="input-form" (mouseenter)="buttonClear.masa = true" (mouseleave)="buttonClear.masa = false">
                <mat-icon mat-list-icon class="input-icon">persone</mat-icon>
                <mat-form-field class="input-field">
                    <mat-label>Masa</mat-label>
                    <input type="number" matInput autocomplete="off" formControlName="masa" tabindex="1">
                    <mat-error *ngIf="form.controls['masa'].hasError('min')">El valor no puede ser negativo</mat-error>
                </mat-form-field>
                <div style="width: 40px;" *ngIf="!buttonClear.masa"></div>
                <button type="button" mat-icon-button *ngIf="buttonClear.masa" (click)="clearField('masa')" class="btn_clear">
                    <mat-icon mat-list-icon>clear</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>