<div class="container">
    <div class="header">
        <p class="title">Importar PDF</p>
        <button mat-icon-button matTooltip="Salir" (click)="exit()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="main">
        <div class="filter">
            <mat-form-field class="input">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. archivo 1" #input>
            </mat-form-field>
            <button type="button" mat-stroked-button color="primary" (click)="addPDF()">Agregar PDF</button>
        </div>
        <div class="list__box">
            <div class="alert__list" *ngIf="dataSource.length == 0">
                <p class="alert">No se ha encontrado ningún resultado</p>
            </div>
            <div class="list" *ngIf="dataSource.length > 0">
                <a class="item" *ngFor="let item of dataSource" (click)="selectItem(item)" [style.background]="item._id == selected?._id ? 'rgba(0,0,0,0.1)' : 'rgba(0,0,0,0)'">
                    <div class="item__main">
                        <mat-icon class="item__icon">insert_drive_file</mat-icon>
                        <div class="item__title">{{item.title}}</div>
                    </div>
                    <div class="item__edit">
                        <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="color: grey;" matTooltip="Ver PDF" (click)="showPDF($event, item)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Eliminar PDF" style="color: red;" (click)="deletePDF($event, item)">
                            <mat-icon>delete</mat-icon>
                        </button>  
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom">
            <p class="selected"><span style="font-weight: bold;">PDF:</span> {{selected?.title}}</p>
            <div class="buttons">
                <button mat-button (click)="exit()">Cancelar</button>
                <button mat-button color="primary" [mat-dialog-close]="selected">Importar</button>
            </div>
        </div>
    </div>
</div>