<div class="navbar">
    <mat-progress-bar mode="query" color="primary" *ngIf="loaderService.isLoading | async"></mat-progress-bar>
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="onToggleSidenav()" *ngIf="isSmall">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="title">Food & Move</span>
          <span class="spacer" *ngIf="!isSmall"></span>
          <div *ngIf="!isSmall">
            <button mat-button (click)="goToPatients()">Pacientes</button>
            <button mat-button (click)="goToEmployees()" *ngIf="isAdmin()">Profesional</button>
            <button mat-button (click)="goToRecipes()">Recetas</button>
            <button mat-button (click)="goToRoutines()">Rutinas</button>
          </div>
          <span class="spacer" *ngIf="!isSmall"></span>
          <div class="buttons" *ngIf="!isSmall">
            <button mat-icon-button class="example-icon favorite-icon">
              <mat-icon>settings</mat-icon>
            </button>
            <button (click)="logout()" mat-icon-button class="example-icon favorite-icon">
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        </mat-toolbar>
    </p>
</div>
  