<div class="container">
    <div class="header">
        <p class="title">Importar {{type == importType.Recipe ? 'Receta' : type == importType.Routine ? 'Rutina' : 'Dieta'}}</p>
        <button mat-icon-button matTooltip="Salir" (click)="exit()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="main">
        <div class="filter">
            <mat-form-field class="input">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Macarrones" #input>
            </mat-form-field>
        </div>
        <div class="list__box">
            <div class="alert__list" *ngIf="dataSource.length == 0">
                <p class="alert">No se ha encontrado ningún resultado</p>
            </div>
            <div class="list" *ngIf="dataSource.length > 0">
                <a class="item" *ngFor="let item of dataSource | foodSort" (click)="selectItem(item)" [style.background]="item._id == selected?._id ? 'rgba(0,0,0,0.1)' : 'rgba(0,0,0,0)'">
                    <div class="item__main">
                        <mat-icon class="item__icon">{{type == importType.Recipe ? (item.meal | foodIcon) : type == importType.Routine ? 'fitness_center' : 'calendar_today'}}</mat-icon>
                        <div class="item__title">{{item.title}}</div>
                    </div>
                    <p class="item__type" *ngIf="type == importType.Recipe">{{item.dish}}</p>
                </a>
            </div>
        </div>
        <div class="bottom">
            <p class="selected"><span style="font-weight: bold;">{{type == importType.Recipe ? 'Receta' : type == importType.Routine ? 'Rutina' : 'Dieta'}}:</span> {{selected?.title}}</p>
            <div class="buttons">
                <button mat-button (click)="exit()">Cancelar</button>
                <button mat-button color="primary" [mat-dialog-close]="selected">Importar</button>
            </div>
        </div>
    </div>
</div>