<div class="container">
    <div class="btn__add" *ngIf="isSmall">
        <button mat-fab color="primary" (click)="addPatient()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="crud__header">
        <p class="header__subtitle">Pacientes</p>
        <mat-form-field appearance="standard" class="input__search">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter()" placeholder="Ej. Juan" #input autocomplete="off" [(ngModel)]="search">
        </mat-form-field>
        <button mat-raised-button color="primary" *ngIf="!isSmall" (click)="addPatient()">Agregar Paciente</button>
    </div>
    <mat-divider></mat-divider>
    <div class="crud__main">
        <table mat-table [dataSource]="dataSource">

            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <th mat-header-cell class="table__header" *matHeaderCellDef>{{getTitleColumn(column)}}</th>
                <td mat-cell class="table__item" *matCellDef="let element">{{column == "name" ? (element | name) : column == "birth" ?  (element.birth | date: 'dd/MM/YYYY') : element[column]}}</td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="btn__table">
                        <button mat-icon-button (click)="resetTable()">
                            <mat-icon>autorenew</mat-icon>
                        </button>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                    <div class="btns__user">
                        <a class="pointer" style="color: #759E7F" matTooltip="Ver Usuario" (click)="viewPatient(element)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </a>
                        <a class="pointer" style="color: #CCC" matTooltip="Info Usuario" (click)="openInfoPatient(element)">
                            <mat-icon>info</mat-icon>
                        </a>
                        <a class="pointer" style="color: #1F516F" matTooltip="Editar Usuario" (click)="editPatient(element)">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" style="color: #E15639" matTooltip="Eliminar Usuario" (click)="deletePatient(element)">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </div>
                </td>
            </ng-container>
        
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5" *ngIf="listPatients.length > 0" class="table__not__exist">No se ha encontrada nada con ese resultado</td>
                <td class="mat-cell" colspan="5" *ngIf="listPatients.length == 0" class="table__not__exist">No existe ningún usuario</td>
            </tr>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsTotal"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTotal;" class="table__rows"></tr>
        </table>
    </div>
</div>