<div class="container">
    <div class="btn__add" *ngIf="isSmall">
        <button mat-fab color="primary" (click)="addPatient()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="crud__header">
        <p class="header__subtitle">Pacientes</p>
        <mat-form-field appearance="standard" class="input__search">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter()" placeholder="Ej. Juan" #input autocomplete="off" [(ngModel)]="search">
        </mat-form-field>
        <button mat-raised-button color="primary" *ngIf="!isSmall" (click)="addPatient()">Agregar Paciente</button>
    </div>
    <mat-divider></mat-divider>
    <div class="crud__main">
        <div class="crud__table box__shadow">
            <div class="loading__shade"
                *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="table__container">
                <table mat-table [dataSource]="dataSource" matSort  matSortActive="name" matSortDisableClear matSortDirection="asc" (matSortChange)="changeSort($event)">

                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns" [ngSwitch]="column">
                        <div *ngSwitchCase="'name'">
                            <th mat-header-cell class="table__header" *matHeaderCellDef mat-sort-header disableClear [style.text-align]="'left'">{{getTitleColumn(column)}}</th>
                            <td mat-cell class="table__item" *matCellDef="let element" [style.color]="'black'" [style.text-align]="'left'">{{(element | name)}}</td>
                        </div>
                        <div *ngSwitchDefault>
                            <th mat-header-cell class="table__header" *matHeaderCellDef [style.text-align]="'center'">{{getTitleColumn(column)}}</th>
                            <td mat-cell class="table__item" *matCellDef="let element" [style.color]="'#888'" [style.text-align]="'center'">{{column == "birth" ?  (element.birth | date: 'dd/MM/YYYY') : element[column]}}</td>
                        </div>
                    </ng-container>
                
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="btn__table">
                                <button mat-icon-button (click)="resetTable()" matTooltip="Recargar">
                                    <mat-icon>autorenew</mat-icon>
                                </button>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                            <div class="btns__user">
                                <a class="pointer" style="color: #759E7F" matTooltip="Ver" (click)="viewPatient(element)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </a>
                                <a class="pointer" style="color: #CCC" matTooltip="Info" (click)="openInfoPatient(element)">
                                    <mat-icon>info</mat-icon>
                                </a>
                                <a class="pointer" style="color: #1F516F" matTooltip="Editar" (click)="editPatient(element)">
                                    <mat-icon>edit</mat-icon>
                                </a>
                                <a class="pointer" style="color: #E15639" matTooltip="Eliminar" (click)="deletePatient(element)">
                                    <mat-icon>delete</mat-icon>
                                </a>
                            </div>
                        </td>
                    </ng-container>
                
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5" *ngIf="listPatients.length > 0" class="table__not__exist">No se ha encontrada nada con ese resultado</td>
                        <td class="mat-cell" colspan="5" *ngIf="listPatients.length == 0" class="table__not__exist">No existe ningún usuario</td>
                    </tr>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTotal" class="primaryColorBG"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTotal;" class="table__rows"></tr>
                </table>
            </div>
            <mat-paginator [length]="total" [pageSize]="limit" [pageIndex]="page" (page)="changePage($event)"></mat-paginator>
        </div>
    </div>
</div>