.panel {
    display: flex;
    flex-direction: column;
}

.field_panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.icon_field {
    opacity: 0.5;
    margin-right: 10px;
}