<div class="container">
    <form [formGroup]="form" (ngSubmit)="edit ? editRecipe() : addRecipe()">
        <div class="form__header">
            <div class="header__left">
                <button type="button" mat-icon-button matTooltip="Volver" (click)="exit()">
                    <mat-icon>clear</mat-icon>
                </button>
                <p class="header__subtitle">{{edit ? "Editar " : "Agregar "}} Receta</p>
            </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" tabindex="6">Guardar</button>
        </div>
        <mat-divider></mat-divider>
        <div class="form__main">
            <div class="form__box box__shadow">
                <div class="main__primary">
                    <div class="form__input" (mouseenter)="buttonClear.title = true" (mouseleave)="buttonClear.title = false">
                        <mat-icon mat-list-icon class="input__icon">fastfood</mat-icon>
                        <mat-form-field class="input__field">
                            <mat-label>Título</mat-label>
                            <input type="text" matInput autocomplete="off" formControlName="title" tabindex="1">
                            <mat-error *ngIf="form.controls['title'].hasError('required')">Título es <strong>obligatorio</strong></mat-error>
                        </mat-form-field>
                        <div class="fake__clear" *ngIf="!buttonClear.title"></div>
                        <button type="button" mat-icon-button *ngIf="buttonClear.title" (click)="clearField('title')" class="btn__clear">
                            <mat-icon mat-list-icon>clear</mat-icon>
                        </button>
                    </div>
                    <div class="form__input" (mouseenter)="buttonClear.description = true" (mouseleave)="buttonClear.description = false">
                        <div class="fake__icon"></div>
                        <mat-form-field class="input__field">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput type="text" matInput autocomplete="off" formControlName="description" tabindex="2" #description maxlength="155"></textarea>
                            <mat-hint align="end">{{description.value.length}}/155</mat-hint>
                        </mat-form-field>
                        <div class="fake__clear" *ngIf="!buttonClear.description"></div>
                        <button type="button" mat-icon-button *ngIf="buttonClear.description" (click)="clearField('description')" class="btn__clear">
                            <mat-icon mat-list-icon>clear</mat-icon>
                        </button>
                    </div>
                    <div class="form__input" style="margin-top: 15px;">
                        <mat-icon mat-list-icon class="input__icon">restaurant</mat-icon>
                        <mat-form-field class="input__field">
                            <mat-label>Tipo de Comida</mat-label>
                            <mat-select [(value)]="meal" (selectionChange)="changeMeal()">
                              <mat-option *ngFor="let option of availableMeal" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="fake__clear"></div>
                    </div>
                    <div class="form__input" style="margin-top: 15px;">
                        <div class="fake__icon"></div>
                        <mat-form-field class="input__field">
                            <mat-label>Plato</mat-label>
                            <mat-select [(value)]="dish">
                              <mat-option *ngFor="let option of availableDish" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="fake__clear"></div>
                    </div>
                </div>
            </div>
            <div class="main__secondary">
                <app-links-input [links]="links" (setLinks)="links = $event"></app-links-input>
                <app-videos-input [videos]="videos" (setVideos)="videos = $event"></app-videos-input>
                <app-ingredients-input [ingredients]="ingredients" (setIngredients)="ingredients = $event"></app-ingredients-input>
                <app-attachment-input [attachment]="attachment" (setAttachment)="attachment = $event"></app-attachment-input>
            </div>
        </div>
    </form>
</div>