<div class="container">
    <div class="btn__add" *ngIf="isSmall">
        <button mat-fab color="primary" (click)="addRoutine()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="crud__header">
        <p class="header__subtitle">Rutinas</p>
        <mat-form-field appearance="standard" class="input__search">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter()" placeholder="Ej. Juan" #input autocomplete="off" [(ngModel)]="search">
        </mat-form-field>
        <button mat-raised-button color="primary" *ngIf="!isSmall" (click)="addRoutine()">Agregar Rutina</button>
    </div>
    <mat-divider></mat-divider>
    <div class="crud__main">
        <div class="crud__table box__shadow">
            <div class="table__container">
                <table mat-table [dataSource]="dataSource">

                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                        <th mat-header-cell class="table__header" *matHeaderCellDef>{{getTitleColumn(column)}}</th>
                        <td mat-cell class="table__item" *matCellDef="let element" [style.color]="column == 'title' ? 'black' : '#888'">{{element[column]}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="btn__table">
                                <button mat-icon-button (click)="resetTable()" matTooltip="Recargar">
                                    <mat-icon>autorenew</mat-icon>
                                </button>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                            <div class="btns__user">
                                <a class="pointer" style="color: #CCC" matTooltip="Info" (click)="openInfoRoutine(element)">
                                    <mat-icon>info</mat-icon>
                                </a>
                                <a class="pointer" style="color: #1F516F" matTooltip="Editar" (click)="editRoutine(element)">
                                    <mat-icon>edit</mat-icon>
                                </a>
                                <a class="pointer" style="color: #E15639" matTooltip="Eliminar" (click)="deleteRoutine(element)">
                                    <mat-icon>delete</mat-icon>
                                </a>
                            </div>
                        </td>
                    </ng-container>
                
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5" *ngIf="listRoutines.length > 0" class="table__not__exist">No se ha encontrada nada con ese resultado</td>
                        <td class="mat-cell" colspan="5" *ngIf="listRoutines.length == 0" class="table__not__exist">No existe ninguna rutina</td>
                    </tr>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTotal"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTotal;" class="table__rows"></tr>
                </table>
            </div>
        </div>
    </div>
</div>