<app-header-patient [patient]="patient" title="Consultas"></app-header-patient>
<div class="container">
    <div class="crud__main">
        <div class="main__header">
            <button mat-raised-button color="primary" *ngIf="!isSmall" (click)="addConsult()">Agregar Consulta</button>
            <div class="btn__add" *ngIf="isSmall">
                <button mat-fab color="primary" (click)="addConsult()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <app-table
            [tableStructure]="tableStructure"
            [indexDisplay]="indexDisplay"
            [dataSource]="dataSource"
            [loading]="isLoadingResults"
            [limit]="limit"
            [page]="page"
            [total]="total"
            [sortActive]="'created_at'"
            (onClick)="openInfoConsult($event)"
            (reset)="resetTable()"
            (changePage)="changePage($event)"
            (changeSort)="changeSort($event)"
            (info)="openInfoConsult($event)"
            (edit)="editConsult($event)"
            (delete)="deleteConsult($event)">
        </app-table>
    </div>
</div>