<app-header-patient [patient]="patient" title="Comidas"></app-header-patient>
<div class="food__main">
    <div class="main__date">
        <button mat-icon-button class="btn__date" (click)="changeDateRange(-1)">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <p class="date">{{dateRange.startDate | date : 'dd/MM/yy'}} - {{dateRange.endDate | date: 'dd/MM/yy'}}</p>
        <button mat-icon-button class="btn__date" (click)="changeDateRange(1)">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="container">
        <div class="day" *ngFor="let weekday of weekdays">
            <div class="day__header">
                <p>{{weekday.date | date: 'dd/MM/yy'}}</p>
                <p class="weekday">{{weekday.name}}</p>
                <button mat-icon-button color="primary" (click)="addFood(weekday.date)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="day__main">
                <div class="day__item" *ngFor="let food of weekday.items" [style.background]="foodToolService.getBackground(food.mean)">
                    <mat-icon class="item__icon">{{foodToolService.getIcon(food.mean)}}</mat-icon>
                    <p class="item__title">{{food.title}}</p>
                    <a class="item__delete" (click)="deleteFood(food)"><mat-icon>close</mat-icon></a>
                </div> 
                <div class="add__day" *ngIf="weekday.items.length == 0">
                    <button mat-stroked-button color="primary" (click)="addFood(weekday.date)">Agregar Comida</button>
                </div>
            </div>
        </div>
    </div>
</div>