<app-header-patient [patient]="patient" title="Comidas"></app-header-patient>
<div class="food__main">
    <div class="main__date">
        <button mat-icon-button class="btn__date" (click)="changeDateRange(-1)">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <p class="date">{{dateRange.startDate | date : 'dd/MM/yy'}} - {{dateRange.endDate | date: 'dd/MM/yy'}}</p>
        <button mat-icon-button class="btn__date" (click)="changeDateRange(1)">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <app-weekly-calendar [weekdays]="weekdays" [type]="weekdayType.Food" (add)="addFood($event.date)" (edit)="editFood($event)" (delete)="deleteFood($event)"></app-weekly-calendar>
</div>