<div class="container">
    <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
    <mat-card class="card" *ngIf="!loading">
        <form [formGroup]="form" (ngSubmit)="forgotPassword()">
            <h1>Recuperar tu contraseña</h1>
            <p class="description">Introduce tu email para crear la nueva contraseña de tu cuenta</p>
            <div class="form__input">
                <mat-icon mat-list-icon class="input__icon">mail_outline</mat-icon>
                <mat-form-field class="input__field">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="pat@example.com" autocomplete="off" formControlName="email" tabindex="1">
                    <mat-error *ngIf="form.controls['email'].hasError('required')">Email es <strong>obligatorio</strong></mat-error>
                    <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">Por favor, introduce un email correcto</mat-error>
                </mat-form-field>
            </div>
            <div class="buttons">
                <button type="submit" mat-raised-button color="primary" tabindex="3" [disabled]="form.invalid || loading">Enviar</button>
                <button type="button" mat-raised-button color="secondary" tabindex="4" (click)="exit()">Cancelar</button>
            </div>
        </form>
    </mat-card>
</div>