<div class="header">
    <div class="header__left">
        <button type="button" mat-icon-button class="btn__exit" (click)="exit()">
            <mat-icon>clear</mat-icon>
        </button>
        <h1 class="subtitle">{{name}}</h1>
    </div>
    <p class="title">{{title}}</p>
    <div class="nav">
        <button mat-icon-button color="primary" matTooltip="Gráficas" (click)="goToGraphics()">
            <mat-icon>assessment</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Consultas" (click)="goToConsults()">
            <mat-icon>local_hospital</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Comidas" (click)="goToFoods()">
            <mat-icon>fastfood</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Ejercicios" (click)="goToMoves()">
            <mat-icon>fitness_center</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>