.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: 10px;
    flex: wrap;
}

.btn__exit {
    margin-right: 10px;
}

.subtitle {
    margin: 0;
}

.title {
    font-size: 28px;
}