<div class="header">
    <div class="header-left">
        <button type="button" mat-icon-button class="btn_exit" (click)="exit()">
            <mat-icon>clear</mat-icon>
        </button>
        <h1 class="subtitle">{{name}}</h1>
    </div>
    <p class="title">{{title}}</p>
    <div class="nav">
        <button mat-icon-button color="primary" matTooltip="Gráficas">
            <mat-icon>assessment</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Consultas">
            <mat-icon>local_hospital</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Comidas">
            <mat-icon>fastfood</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Ejercicios">
            <mat-icon>fitness_center</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>