.dialog__box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 20px);
}

.dialog__box .header {
    margin-bottom: 15px;
}

.dialog__box .subtitle {
    font-size: 18px;
    font-weight: normal;
    color: var(--gray-text);
    margin-bottom: 5px;
}

.info__profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.section-top {
    margin: 15px 0 0 0;
}

.section .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.section .text {
    font-size: 15px;
    margin: 0;
}

.section .icon {
    color: var(--gray-text);
    min-width: 22px;
}

/* LISTS */

.section .list {
    display: flex;
    flex-direction: column;
}

.section .list .list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    padding: 0 5px;
    text-decoration: none;
}

.section .list .list__item:hover {
    background-color: #EEE;
}

.section .list .list__item-normal {
    gap: 10px;
    cursor: pointer;
}

.section .list .url {
    color: var(--gray-text);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.section .list .list__item-between {
    justify-content: space-between;
}

.list__not-exist {
    text-align: center;
    margin: 10px 0;
}

.list__not-exist p {
    margin: 0;
    color: var(--gray-text);
}