<div class="form__list-box box__shadow">
    <div class="header">
        <p class="title">PDF</p>
        <p class="subtitle">Agregar archivo</p>
        <mat-icon class="icon">insert_drive_file</mat-icon>
    </div>
    <div *ngIf="!attachment" class="import__pdf">
        <button type="button" mat-stroked-button color="primary" (click)="importPDF()">Importar PDF</button>
    </div>
    <div *ngIf="attachment" class="attachment">
        <div class="attachment__main">
            <mat-icon class="icon">insert_drive_file</mat-icon>
            <p class="attachment__title">{{attachment.title}}</p>
        </div>
        <div class="attachemnt__buttons">
            <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="color: grey;" matTooltip="Ver PDF" (click)="viewPDF()">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button type="button" mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Eliminar PDF" style="color: red;" (click)="deletePDF()">
                <mat-icon>delete</mat-icon>
            </button>  
        </div>
    </div>
</div>