<div class="container">
    <div class="day" *ngFor="let day of days">
        <div class="day__header">
            <p *ngIf="showDate">{{day.date | date: 'dd/MM/yy'}}</p>
            <p class="day_of_week">{{day.day}}</p>
            <button mat-icon-button color="primary" (click)="addItem(day)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="day__main" *ngIf="type == weeklyCalendarType.Food">
            <div class="day__item" *ngFor="let food of day.items" [style.background]="foodToolService.getBackground(food.mean)">
                <mat-icon class="item__icon">{{foodToolService.getIcon(food.mean)}}</mat-icon>
                <a class="item__title" (click)="editItem(food)">{{food.title}}</a>
                <a class="item__delete" (click)="deleteItem(food)"><mat-icon>close</mat-icon></a>
            </div> 
            <div class="add__day" *ngIf="day.items.length == 0">
                <button mat-stroked-button color="primary" (click)="addItem(day)">Agregar Comida</button>
            </div>
        </div>
        <div class="day__main" *ngIf="type == weeklyCalendarType.Move">
            <div class="day__item" *ngFor="let move of day.items">
                <mat-icon class="item__icon">fitness_center</mat-icon>
                <a class="item__title" (click)="editItem(move)">{{move.title}}</a>
                <a class="item__delete" (click)="deleteItem(move)"><mat-icon>close</mat-icon></a>
            </div> 
            <div class="add__day" *ngIf="day.items.length == 0">
                <button mat-stroked-button color="primary" (click)="addItem(day)">Agregar Ejercicio</button>
            </div>
        </div>
    </div>
</div>