<div class="container">
    <div class="day" *ngFor="let day of days">
        <div class="day__header">
            <p *ngIf="showDate">{{day.date | date: 'dd/MM/yy'}}</p>
            <p class="day_of_week">{{day.day}}</p>
            <button mat-icon-button color="primary" (click)="addItem(day)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="day__main" *ngIf="type == weeklyCalendarType.Food">
            <div class="day__item" *ngFor="let food of (day.items | foodSort)" [style.background]="(food.meal | foodBackground)" (click)="editItem(day, food)">
                <mat-icon class="item__icon">{{(food.meal | foodIcon)}}</mat-icon>
                <p class="item__title">{{food.title}}</p>
                <img [src]="(food.rating | ratingScr)" class="item__rating" *ngIf="showRating && food.rating">
                <a class="item__delete" (click)="$event.stopPropagation(); deleteItem(day, food)"><mat-icon>close</mat-icon></a>
            </div> 
            <div class="add__day" *ngIf="day.items.length == 0">
                <button mat-stroked-button color="primary" (click)="addItem(day)">Agregar Comida</button>
            </div>
        </div>
        <div class="day__main" *ngIf="type == weeklyCalendarType.Move">
            <div class="day__item" *ngFor="let move of day.items" (click)="editItem(day, move)">
                <mat-icon class="item__icon">fitness_center</mat-icon>
                <p class="item__title">{{move.title}}</p>
                <img [src]="(move.rating | ratingScr)" class="item__rating" *ngIf="showRating && move.rating">
                <a class="item__delete" (click)="$event.stopPropagation(); deleteItem(day, move)"><mat-icon>close</mat-icon></a>
            </div> 
            <div class="add__day" *ngIf="day.items.length == 0">
                <button mat-stroked-button color="primary" (click)="addItem(day)">Agregar Ejercicio</button>
            </div>
        </div>
    </div>
</div>